html {
    scroll-behavior: smooth;
}
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
} 
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 123, 255);
    color: rgb(0, 70, 27);
    
}
.container {
    display: grid;
    grid-template-areas: "main"
                         "feat"
                         "abt"
                         "test"
                         "ct"
                         "ft";
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh 30vh; 
    background: #C8D8E4;
}
/* home */
.home-con {
    grid-area: main;
}
/* .t-logo {
    position:fixed;
} */
/* navigation */
.navi {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.nav {
    height: 25vh;
    width: 15%;
    background-color: #52ab98;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 70px; 
    position: fixed;
    right: 5px;
    top: 30px;
    box-shadow: -2px 2px 2px 1px #363636, -2px 2px 2px 1px #363636;
    border-radius: 10px;
    position: fixed;
}
.d-down {
    right: 5%;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    transition: .20s;
}
.d-down:hover {
    transform: scale(.9);
}
.d-down:active {
    transform: scale(1);
}
.close-dd {
    background-color: rgb(55, 255, 0);
    padding: 2px 6px;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
    transition: .30s;
}
.close-dd:hover {
    transform: scale(1.2);
    color: red;
}
.close-dd:active {
    transform: scale(1);
    color: #000000;
}
.nav a{
    color: #FFFFFF;
    font-size: 15px;
    text-shadow: 1px 2px 2px #000000;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    transition: .25s;
    margin-top: 10px;
    padding: 5px;
}
.nav a::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s;
}
.nav a:hover::after{
   width: 50%;
}
.nav a:hover {
    color: rgb(0, 70, 27);
    transform: scale(1.2);
    text-shadow: rgba(206, 206, 206, 0.978) 1px 1px 0;
}
.nav a:active {
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 136, 255) 1px 1px 0;
}
.home-con img {
    width: 70px;
    margin-left: 50px;
}
/* main-content login*/
.log-in {
    width: 40%;
    background-color: #52ab98;
    height: 50vh;
    position: absolute;
    transform: translate(135%, 21%);
    z-index: 10;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px 5px #363636;
}
.log-in p {
    cursor: pointer;
    transition: .20s;
}
.log-in p:hover {
    transform: scale(1.2);
    color: red;
}
.log-in p:active {
    opacity: .4;
}
.exit {
    background-color: rgb(55, 255, 0);
    padding: 5px 10px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 15px;
}
.log-in input {
    width: 70%;
    height: 30px;
    margin-top: -30px;
}
.log-in img {
    width: 100px;
    position: absolute;
    top: 0;
    left: -50px;
}
button {
    width: 70%;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(0, 150, 110);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 10px 13px -7px rgb(172, 255, 240), 5px 5px 15px 5px rgba(255, 255, 255, 0.959);
    transition: .15s;
    
    
}
button:hover {
    cursor: pointer;
    background-color: rgba(1, 255, 86, 0.954);
    color: rgb(253, 253, 253);
    box-shadow: 0px 10px 13px -7px rgb(0, 122, 81), 5px 5px 15px 5px rgba(34, 34, 34, 0.959);
    opacity: .7;
}
button:active {
    opacity: .4;
    color: rgba(248, 248, 248, 0.962);
    box-shadow: 0px 10px 13px -7px #fffffff9, 5px 5px 15px 5px rgba(0, 255, 225, 0.959);
    opacity: 1;
}
/* main-content */
.lako-text h1 {
    font-size: 150px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 136, 255);
    background: url("../images/bg2.png");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back {
    100% {
        background-position: 2000px 0; 
    }
}
.main-content {
    width: 80%;
    height: 85vh;
    display: grid;
    grid-template-areas: "lt mc";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 0 auto;
}
.gif {
    width: 200px;
    height: 200px;
    background-image: url(https://media3.giphy.com/media/YSlYcWllIZeTgdtODL/giphy.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-blend-mode:overlay;
}
.lako-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lako-text h1 {
    margin-top: -50px;
    font-size: 200px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 5px rgb(0, 70, 27);
}

.lako-text p {
    font-size: 30px;
    font-weight: bold;
    color: #52ab98;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.978);
}
span {
    font-size: 30px;
    font-weight: bolder;
    color: #52ab98;
    -webkit-text-stroke: 1px rgb(0, 70, 27);
}
.lako-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lako-img img {
    width: 100%;
}
/* feature */
.feature {
    width: 100%; 
    grid-area: feat;
    grid-template-areas: "ft"
                         "mf";
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 80vh;
}  
.feature img {
    max-width: 80%;
}

.feature span{
    -webkit-text-stroke: 2px rgb(0, 70, 27);
    font-size: 60px;
    height: 20vh;
    display: flex;
    align-items: center;  
    justify-content: center;
}
.main-feature {
    display: flex;
    align-items: center;
    justify-content: center; 
} 
.fcon1, .fcon2, .fcon3 {
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* about us */
.about-us {
    grid-area: abt;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}
.about-us span{
    -webkit-text-stroke: 2px rgb(0, 70, 27);
    font-size: 60px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abt-content {
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-areas: "ai ac";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
.a-img {
    grid-area: ai;
}
.a-content {
    grid-area: ac;
}
.a-content h2{
    font-size: 60px;
    color: rgb(0, 70, 27);
}
.abt-content h3 {
    -webkit-text-stroke: 1px rgb(0, 70, 27);
}

/* testimonial */
.testimonial {
    width: 100%;
    grid-area: test;
    /* grid-template-areas: "tt"
                         "mt"; */
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 80vh;
}
.testimonial img {
    width: 80%;
    transition: .30s;
}
.testimonial img:hover {
    width: 90%;
}
.testimonial span{
    -webkit-text-stroke: 2px rgb(0, 70, 27);
    font-size: 60px;
    height: 20vh;
    display: flex;
    align-items: center;  
    justify-content: center;
}
.main-test {
    height: 70vh;
    width: 100%;
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around;
}
.tcon1, .tcon2, .tcon3 {
    width: 30%;
    display: flex;
    align-items: center;  
    justify-content: center;
}
/* contact */
.contact {
    height: 100vh;
    grid-area: ct;
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}
.contact span{
    -webkit-text-stroke: 2px rgb(0, 70, 27);
    font-size: 60px;
    height: 20vh;
    display: flex;
    align-items: center;  
}
.c-content {
    
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-areas: "ci cm";
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
.c-img {
    grid-area: ci;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c-img img {
    width: 50%;
}
.c-img h2 {
    font-size: 30px;
    color: #52ab98;
    -webkit-text-stroke: 1px rgb(0, 70, 27); 
    /* margin-top: -60px; */
}
.c-msg {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c-msg img {
    width: 30%;
}
.c-content {
    grid-area: cm;
}
.c-msg {
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #52ab98;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 10px;
}
.contact label {
    font-size: 20px;
    width: 90%;
}
.contact input {
    width: 90%;
    font-size: 20px;
    border-radius: 2px;
    border: none;
}
textarea {
    margin-top: 10px;
    border-radius: 2px;
    width: 90%;
}
.c-msg button {
    width: 90%;
    margin-top: 10px;
}
/* footer */
.foot {
    width: 100%;
    grid-area: ft;
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.foot img {
    width: 100px;
}
/* media query */
@media (max-width: 768px) {

    .container {
        width: 100%;
        height: 460vh;
    } 
    h2, h3 {
        text-align: center;
    }
    .d-down {
        top: 15px;
    }
    .log-in {
        width: 100%;
        transform: translate(0%, 5%);
    }
    .log-in img{
        width: 20%;
        left: 30px;
    }
    .home-con img {
        margin-left: 10px;
    }

    .t-logo img {
        margin-left: 5px;
        margin-top: -25px;
    }
    .nav {
        height: 20vh;
        width: 70%;
        margin-top: -50px;
        background-color: #52ab98;
        border-radius: 5px;
        position: fixed;
        top: 50px;
        right: -70px;
    }
    .nav a {
        width: 100%;
        font-size: 15px;
        margin-left: 25px;
    }
    .main-content {
        width: 80%;
        grid-template-areas: "lt" " mc";
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;
        align-items: center;
        margin: 0 auto;
    }
    .gif {
        width: 220px;
        margin-top: 15px;
    }
    .lako-text h1 {
        font-size: 50px;
        margin-top: -30px;
    }
    .lako-text p {
        font-size: 30px;
    }
    .lako-text span {
        font-size: 20px;
    }
    .lako-img img {
        width: 90%;
    }
    .main-feature {
        overflow: scroll;
        height: 45vh;
    }
    .feature span{
        font-size: 30px;
    }
    .abt-content {
        width: 100%;
        height: 45vh;
        grid-template-areas: "ai"
                             "ac";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .a-img {
        display: flex;
        justify-content: center;
    }
    .a-img img {
        width: 30%;
       
    }
    
    .about-us {
        height: 70vh;
        margin-top: -227px;
    }
    .about-us span{
        font-size: 30px;
        margin-top: -50px;
    }
    .a-content h3{
        
        text-align: center;
    }
    .testimonial {
        margin-top: -430px;
        height: 70vh;
    }
    .testimonial span{
        font-size: 30px;
    }
    .contact span{
        font-size: 30px;
    }
    .main-test {
        overflow: scroll;
        height: 60vh;
    }
    .main-test img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
   .contact {
    margin-top: -565px;
    height: 110vh;
   }
   .contact span{
    margin-top: -300px;
   }
    .c-content {
        width: 100%;
        height: 50vh;
        display: grid;
        grid-template-areas: "ci" "cm";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-top: 0px;
    }
    .c-msg {
       width: 100%;
       margin-top: 80px;
    }
    
    .c-img h2 {
        font-size: 30px;
        margin-top: 30px;
        
    }
    .foot {
        height: 25vh;
        margin-top: -400px;
    }
    .c-content {
        width: 90%;
    }
   
}
